CREATE TABLE IF NOT EXISTS champion_matchups (id SERIAL PRIMARY KEY, champion_name TEXT NOT NULL, description TEXT, spells TEXT, difficulty TEXT, runes TEXT, created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()));
